@using WebPaperAnalyzer.Models
@model WebPaperAnalyzer.Models.ResultCriterion
@{
    ViewBag.Title = "Добавление нового набора критериев";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<input type="button" class="upload-form2" value="Назад" onclick="window.location.href = '@Url.Action("TeacherMainPage", "StudentTeacher")';" />

<div class="inline-flex-class">
    <form asp-action="TeacherAddCriterion" asp-controller="StudentTeacher" style="width: 100%">
        <h2>Добавление нового набора критериев</h2>
        <div class="criterion-add-submit">
            <div>
                <h3>
                    Название
                </h3>
                <input type="text" asp-for="Name" />
            </div>
            <div>
                <h3>
                    Краткое описание
                </h3>
                <input type="text" asp-for="Summary" />
            </div>
            <div>
                <h3>
                    Максимальная оценка за статью
                </h3>
                <input type="text" asp-for="MaxScore" />
            </div>
        </div>
        <div class="criterion-add-edit">
            <h3>
                Уровень водности
            </h3>
            <h5>
                Вес критерия
            </h5>
            <input type="text" asp-for="WaterCriterionFactor" />

            <div class="criterion-add-bounds">
                <div>
                    <h5>
                        Нижняя граница
                    </h5>
                    <input type="text" asp-for="WaterCriterionLowerBound" />
                </div>
                <div>
                    <h5>
                        Верхняя граница
                    </h5>
                    <input type="text" asp-for="WaterCriterionUpperBound" />
                </div>
            </div>
        </div>
        <div class="criterion-add-edit">
            <h3>
                Тошнота
            </h3>
            <h5>
                Вес критерия
            </h5>
            <input type="text" asp-for="KeyWordsCriterionFactor" />

            <div class="criterion-add-bounds">
                <div>
                    <h5>
                        Нижняя граница
                    </h5>
                    <input type="text" asp-for="KeyWordsCriterionLowerBound" />
                </div>
                <div>
                    <h5>
                        Верхняя граница
                    </h5>
                    <input type="text" asp-for="KeyWordsCriterionUpperBound" />
                </div>
            </div>
        </div>
        <div class="criterion-add-edit">
            <h3>
                Ципф
            </h3>
            <h5>
                Вес критерия
            </h5>
            <input type="text" asp-for="ZipfFactor" />

            <div class="criterion-add-bounds">
                <div>
                    <h5>
                        Нижняя граница
                    </h5>
                    <input type="text" asp-for="ZipfFactorLowerBound" />
                </div>
                <div>
                    <h5>
                        Верхняя граница
                    </h5>
                    <input type="text" asp-for="ZipfFactorUpperBound" />
                </div>
            </div>
        </div>
        <div class="criterion-add-submit">
            <div>
                <h3>
                    Использование личных местоимений
                </h3>
                <h5>
                    Вес критерия
                </h5>
                <input type="text" asp-for="UseOfPersonalPronounsCost" />
                <h5>
                    Штраф
                </h5>
                <input type="text" asp-for="UseOfPersonalPronounsErrorCost" />
            </div>
        </div>
        <div class="criterion-add-submit">
            <div>
                <h3>
                    Нет ссылки на источник
                </h3>
                <h5>
                    Вес критерия
                </h5>
                <input type="text" asp-for="SourceNotReferencedCost" />
                <h5>
                    Штраф
                </h5>
                <input type="text" asp-for="SourceNotReferencedErrorCost" />
            </div>
        </div>
        <div class="criterion-add-submit">
            <div>
                <h3>
                    Короткий раздел
                </h3>
                <h5>
                    Вес критерия
                </h5>
                <input type="text" asp-for="ShortSectionCost" />
                <h5>
                    Штраф
                </h5>
                <input type="text" asp-for="ShortSectionErrorCost" />
            </div>
        </div>
        <div class="criterion-add-submit">
            <div>
                <h3>
                    Нет ссылки на рисунок
                </h3>
                <h5>
                    Вес критерия
                </h5>
                <input type="text" asp-for="PictureNotReferencedCost" />
                <h5>
                    Штраф
                </h5>
                <input type="text" asp-for="PictureNotReferencedErrorCost" />
            </div>
        </div>
        <div class="criterion-add-submit" style="margin-bottom: 3%">
            <div>
                <h3>
                    Нет ссылки на таблицу
                </h3>
                <h5>
                    Вес критерия
                </h5>
                <input type="text" asp-for="TableNotReferencedCost" />
                <h5>
                    Штраф
                </h5>
                <input type="text" asp-for="TableNotReferencedErrorCost" />
            </div>
        </div>
        <div class="criterion-add-submit">
            <input type="submit" value="Добавить критерий" class="add-button"/>
        </div>
    </form>

    <div style="width: 100%">
        <h2>Существующие наборы критериев</h2>
        <input type="button" class="upload-form2" value="Показать критерии добавленные мной" style="width: 30%" onclick="window.location.href='@Url.Action("TeacherAddCriterion", "StudentTeacher", new {mine = true})';" />
        @foreach (var criterion in (IEnumerable<ResultCriterion>)ViewBag.Criteria)
        {
            <button type="submit" class="upload-form" , onclick="window.location.href = '@Url.Action("EditDeleteCriterion", "StudentTeacher", new {name = @criterion.Name})';">
                Критерий: @criterion.Name, Создатель: @criterion.TeacherLogin,
                Описание: @criterion.Summary
            </button>
        }
    </div>
</div>